
/* Your CSS Code here. */
.container-1{
	display:flex;
	justify-content:space-between;
    font-size:50px;
}
.container-2{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	font-size:50px;
}
.a{
	width:100px;
	height:100px;
	background-color:red;
	order:2;
}
.b{
	width:100px;
	height:100px;
	background-color:blue;
	order:3;
}
.c{
	width:100px;
	height:100px;
	background-color:green;
	order:1;
}
.x{
	width:100px;
	height:100px;
	background-color:red;
	order:6;
}
.y{
	width:100px;
	height:100px;
	background-color:blue;
	order:7;
}
.z{
	width:100px;
	height:100px;
	background-color:green;
	order:1;
}
.d{
	width:100px;
	height:100px;
	background-color:green;
	order:2;
}
.e{
	width:100px;
	height:100px;
	background-color:green;
	order:3;
}
.f{
	width:100px;
	height:100px;
	background-color:green;
	order:4;
}
.g{
	width:100px;
	height:100px;
	background-color:green;
	order:5;
}